name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Como es HTML estático, no necesitamos 'npm install' ni 'npm run build' para el proyecto en sí.
      # Pero si en el futuro usas un framework, aquí irían esos pasos.

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_MK_FUXION }}'
          channelId: live
          projectId: mk-fuxion
